.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--appColor1);
    -webkit-box-shadow: 0 8px 6px -6px var(--appDark2);
    -moz-box-shadow: 0 8px 6px -6px var(--appDark2);
    box-shadow: 0 8px 6px -6px var(--appDark2);
}

.navLi {
    display: block;
    float: left;
    color: var(--appWhite1);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    overflow-x: hidden;
}